@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700&display=swap&subset=cyrillic');


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}
body {
  font-size: 20px;
}
h2{
  margin: 30px 0;
  text-align: center;
}
a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: inline-block; }
  header{
    height: 400px;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
  }
  .container{
    max-width: 900px;
    margin: 0px auto;
    padding: 15px;
    /* background-color: #FFFAFA; */
  }
  nav {
    position: absolute;
    right: 0;
    margin: 20px 30px;
  }
  nav a {
    display: inline-block;
    border: 1px solid transparent;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    padding: 16px 30px;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
  nav a:hover {
    border: 2px solid white; }
    .main-header{
      color: white;
      text-align: center;
      margin: auto;
    }
    .main-header h1{
      font-size: 60px;
      font-weight: bold;
    }
    .gradient{
      height: 50px;
      background: linear-gradient(#181818, white);
    }

    .about p{
      margin:0.5em 0;
    }
    .about ul {
      padding-left: 50px;
    }
    .my-works{
      display: flex;
    }
    .work{
      text-align: center;
      width: 250px;
      /* display: inline-block; */
      margin: 20px 15px auto 15px;

    }
    footer{
      font-size: 15px;
      font-weight: bold;
      background: linear-gradient(white, #181818);
      /* background-color: #181818; */
      padding: 30px;
      height: 200px;
      display: flex;
    }
    #copyrights{
      margin-top: auto;
      margin-left: auto;
    }
    .contact{
      text-align: center;

    }
    .contact img{
      height: 50px;
      margin: 0 20px;
    }
